$background-color: #121212;
$accent-color: #d50b2a;
$border-radius: 8px;
$font-color: white;
$font-size: 16px;
$game-keyboard-height: 30vh;
$game-keyboard-solution-field-background: white;
$game-keyboard-solution-field-font-color: black;
$game-keyboard-solution-field-solution-correct-flash: #28a745;
$game-keyboard-solution-field-solution-incorrect-flash: #dc3545;
$game-keyboard-key: #505050;
$game-keyboard-key-active: #383838;
$game-keyboard-key-darker: #353535;
$game-keyboard-key-darker-active: #555555;
$nav-bar-height: 5em;